* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  .logo {
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #07631b;
    height: 8vh;
  }
  body{
    background-image: url("bg1.jpg");
  }

  main {
    text-align: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #187a31;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  main a{
    font-size: xx-large;
    padding: 20px;
    margin: 20px;
  }
  .margem{
    padding: 5vh;
    margin: 6vh;
  }
  .margemmenor{
    padding: 1%;
    margin: 1vh;
  }
  table{
    background-color: black;
    align-items: initial;
    text-align: initial;
  }
  
  ul{
    text-align: center;
  }
  li a{
    color: honeydew;
    font-size: x-large;
  }
  main img{
    padding: 2vh;
    margin: 1vh;
    float: left;
    width: 27% ;
  }
  .felin{
    display: flex;
  }
  p{
    display: flex;
    font-display: flex;
    padding-top: 2.5%;
    margin: 0.4%;
    padding-right: 6%;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 19, 19);
    font-size: x-large;
  }
  p1{
    padding-top: 2.5%;
    padding-right: 6%;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 19, 19);
    font-size: x-large;
  }
  audio{
    color: #C6E5B1;
    background: #C6E5B1;
  }
  footer{
    text-align: center;
    background-color:black;
  }
  footer h6 {
    font-family: Franklin;
    font-size: 100%;
    text-decoration-color: 0;
  }
  main li{
    display: inline-table;
  }
  @media (max-width: 800px) 
  {
    main{
      padding: 4.8%;
    }
    main img{
      float: none;
      display: inline-block;
      width: 60%;
      height: 60%;
      text-align: center;
      margin-left: 15vw;
      margin-right: 25vw;
    }
  }
  .nav-list.active {
    transform: translateX(0);
  }
  h3{
    text-align: center;
  }
  @media (min-width: 999px) 
  {
    main{
      padding: 4.8%;
      width: 780px;
    }
    .bodyOrganiza{
      text-align: center;
      align-items: center;
      align-content: center;
      margin-left: 16%;
      margin-right: 16%;
    }  
  }